@import './css/sm-screens.css';
@import './css/md-screens.css';
@import './css/lg-screens.css';

*
{
	/* browser specific prefixes */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;

	/* This setting includes padding and border
	 * in an element's total width and height.
	 * To ensure that it works in all browsers,
	 * add the browser-specific prefixes above.
	 */
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/* ensures that the elements don't overflow */
img, embed, object, video 
{
	max-width: 100%;
}

body {
	margin: 0;
}

h1 {
	font-size: 30px;
	margin-top: 0;
	font-weight: 800;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 22px;
	font-weight: 800;
}

p {
	font-size: 15px;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

.header {
	align-items: center;
	background-color: #0795e6;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 2% 5%;
}

.logo {
	padding: 5px;
	width: 125px;
}

.blog {
	border: 1px solid #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-meta {
	padding: 5%;
}

.blog-category {
	color: #0795e6;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.blog-title {
	margin: 0;
}

.button {
	background-color: #0795e6;
	color: white;
	font-size: 14px;
	padding: 3%;
	text-align: center;
}

.button:hover {
	background-color: #57c0fc;
}

.footer {
	background-color: #0795e6;
	color: white;
	text-align: center;
	padding: 5%;
}

.fa-instagram {
	margin: 0px 5px;
}

/* styles for post.html */
.article {
	padding: 0 5%;
}

.sidebar {
	background-color: #e1f4ff;
	padding: 0 8%;
}